# AWS INFRASTRUCTURE CONFIGURATION
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key

# SQS CONFIGURATION
# The full URL of the SQS queue (e.g., https://sqs.us-east-1.amazonaws.com/123456789012/my-queue)
SQS_QUEUE_URL=

# ECS CONFIGURATION
# The name or ARN of the ECS cluster
ECS_CLUSTER_NAME=
# The name or ARN of the Task Definition (e.g., my-task:1)
ECS_TASK_DEFINITION=
# The name of the container as defined in the Task Definition
ECS_CONTAINER_NAME=

# NETWORK CONFIGURATION (Required for FARGATE)
# List of subnet IDs separated by commas or just multiple variables
ECS_SUBNETS=subnet-xxxx,subnet-yyyy
ECS_SECURITY_GROUPS=sg-xxxx

# STORAGE CONFIGURATION
# Bucket where transcoded videos will be stored
S3_DESTINATION_BUCKET=final-output-prod
